<link rel="icon" href="img/favicon/favicon.ico" type="image/ico">
<link rel="apple-touch-icon" href="img/favicon/favicon.ico" type="image/ico">
<meta name="description" content="Full-Stack Developer at StackRoute (An NIIT Incubated Venture)" />
<meta name="image" content="{{ .Site.Data.homepage.head.og_image }}" />
<meta property="og:title" content="{{ .Site.Data.homepage.head.title }}" />
<meta property="og:type" content="profile" />
<meta property="og:image" content="{{ .Site.Data.homepage.head.og_image }}" />
<meta property="profile:first_name" content="{{ .Site.Data.homepage.head.first_name }}" />
<meta property="profile:last_name" content="{{ .Site.Data.homepage.head.last_name }}" />
<meta property="profile:gender" content="{{ .Site.Data.homepage.head.gender }}" />